.navbar {
    background-color: #e7ded0;
}
.navbar-brand {
    color: #800000;
    font-size: x-large;
    font-weight: bold;
    margin-left: 20px;
    font-style: n;
}
.navbar-nav .nav-link {
    color: #800000; 
}
.navbar-nav .nav-link:hover {
    color: #b30000; 
}
.navbar-nav .nav-item a img {
    width: 24px;
    height: 24px;
}
.dropdown-menu {
    background-color: #e7ded0;
}
.dropdown-item {
    color: #800000;
}
.dropdown-item:hover {
    background-color: #b30000; 
    color: white;
}

.headline-section {
    background-color: #800000; 
    color: white;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    position: relative;
}

.text-container {
    max-width: 500px; 
    position: relative;
    margin-left: 100px;
    margin-top: -20px;
}

.headline {
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.7);
}

.description {
    font-size: 1.2rem;
    color: #d4cabc;
    font-style: italic;
    margin-top: -10px;
}

.headline-section img {
    max-width: 500px;
    height: auto;
    margin-right: 60px;
    margin-top: -50px;
}

.extra-section {
    background-color: #f5f5f5;
}

.model-img {
    max-width: 400px;
    height: auto;
    margin-right: 30px;
    margin-top: 50px;
    margin-left: 150px;

}

.big-text {
    font-size: 2.5rem;
    font-weight: bold;
    color: #800000;
    margin-top: 50px;
}

.big-description {
    font-size: 1.2rem;
    color: #555;
    margin-top: 0px;
}

.boxes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: 150px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.icon-container {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: -5px;
    margin-left: -70px;
}

.icon {
    font-size: 2rem;
    color: #800000;
}

.box-text {
    font-size: 1rem;
    color: #333;
    font-weight: bold;
}

.box:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}